* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0.5em;
}

#console {
  width: 100%;
  height: 95%;
  border: 1px solid black;
  padding: 0.5em;
  font-family: "Roboto Mono";
  word-wrap: break-word;
  overflow-y: scroll;
  white-space: pre-wrap;
}

#input {
  width: 100%;
  font-family: "Roboto Mono";
  font-size: large;
  margin-top: 0.5em;
  border: 1px solid black;
}
