html, body {
  font-family: Helvetica;
  font-weight: bold;
  color: #2b2b2b;
  background-color: #fff;
}

a {
  color: #000;
}

.normalized {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.centered {
  text-align: center;
}

#game {
  margin-left: auto;
  margin-right: auto;
}
